body {
<<<<<<< HEAD
  background-color: darkred;
  background-image: https://drive.google.com/file/d/1-n-KZGb0dptO1_g_porbtqW6cYXEpCCp/view?usp=sharing;
}

h1 {
  text-align: center;
  font-size: 60px;
  color:goldenrod;
}
.name {
  color: burlywood;
  text-align: center;
}
.job {
  color: cadetblue;
  text-align: center;
  font-size: 40px;
}
.profPic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
.aaHeroes {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
.believe {
  font-size: 22px;
  color: gold;
}
.abtMeTxt {
  text-align: justify;
}
h3 {
  text-align: center;
  font-size: 40px;
}
p {
  text-align: center;
  color: beige;
}

ul {
  text-align: center;
}
=======
    background-color: blue;
}

.My-Portfolio{
    font-size: 72px;
    text-align: center;
    color: dodgerblue;
    font-family: 'Trebuchet MS';
}
.Joshua-Johnson {
    font-size: 50px;
    color: dodgerblue;
}
.my-favorite {
    color: gold;
}
div { background-color: maroon;
border-width: thick;
border-style: dotted
}
.body{ background-color: navy;}
>>>>>>> e53c4f018268456dfd9012cceaaea62c2cb8184a
